<div class="grid">
  <div class="col-12 p-0">
    <div class="card admin-content m-0">
      <div class="my-2 flex justify-content-between flex-wrap">
        <span class="block p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" placeholder="Tìm kiếm..."
            class="w-full sm:w-auto p-inputtext-sm" [(ngModel)]="searchData.keyword" (keydown.enter)="search()" />
          <button pButton pRipple icon="pi pi-search" class="p-button-primary mr-2 ml-2 p-button-sm" (click)="search()"></button>
          <button pButton pRipple icon="pi pi-times" class="p-button-secondary p-button-sm"
            (click)="resetSearch()"></button>
        </span>
        <div class="flex justify-content-end flex-wrap">
          <button [disabled]="!selectedUserGroup.id" pButton pRipple label="Danh sách user" icon="pi pi-users" class="p-button-help mr-2 p-button-sm"
            (click)="isVisibleListUsers=true"></button>
          <button pButton pRipple label="Thêm mới group" icon="pi pi-plus" class="p-button-success p-button-sm"
            (click)="onCreateItem()"></button>
        </div>
      </div>
      <m-table [isLazyLoad]="true" [cols]="cols" [items]="userGroups" (onEditItem)="onEditItem($event)" (onDeleteItem)="onDeleteItem($event)" [take]="searchData.take"
        (selectRow)="selectUserGroup($event)" (onPageChange)="onPageChange($event)" [totalRecords]="total" [dataKey]="'id'" [loading]="loading" ></m-table>
    </div>

    <p-dialog [(visible)]="isVisibleUserGroupDialog" [style]="{width: '450px'}" [header]="userGroupDialogHeader" [modal]="true" class="p-fluid">
      <ng-template pTemplate="content">
        <form [formGroup]="userGroupForm">
          <div class="field">
            <label for="name">Tên group</label>
            <input type="text" pInputText id="name" formControlName="name" required autofocus/>
            <div class="text-red-500 text-left" *ngIf="userGroupForm.controls['name'].invalid && 
              (userGroupForm.controls['name'].dirty || userGroupForm.controls['name'].touched)">*Tên group không được để trống
            </div>
          </div>
          <div class="field">
            <label for="description">Mô tả</label>
            <textarea id="description" pInputText formControlName="desc"  rows="3"></textarea>
          </div>
        </form>
      </ng-template>

      <ng-template pTemplate="footer">
        <button pButton pRipple label="Đóng" icon="pi pi-times" class="p-button-text" (click)="isVisibleUserGroupDialog=false"></button>
        <button pButton pRipple label="Lưu" icon="pi pi-check" class="p-button-text" (click)="saveItem()"></button>
      </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="isVisibleListUsers" [contentStyleClass]="'pb-0'" [style]="{width: '600px'}" [header]="'Danh sách user trong nhóm'" [modal]="true" class="p-fluid">
      <ng-template pTemplate="content">
        <list-users-in-group [groupId]="selectedUserGroup.id"></list-users-in-group>
      </ng-template>
      <ng-template pTemplate="footer">
        <button pButton pRipple label="Đóng" icon="pi pi-times" class="p-button-text" (click)="isVisibleListUsers=false"></button>
      </ng-template>
    </p-dialog>
  </div>
</div>

<confirm-dialog [(visible)]="isVisibleDeleteItemDialog" [confirmText]="textConfirmDelete" (onConfirm)="deleteUserGroup()"></confirm-dialog>
