:host ::ng-deep .vt-worklist-container {
  .p-menuitem-text {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .btn-search {
    width: 2.6rem;
    height: 2.6rem;
  }
  .btn-image {
    width: 2.45rem;
    height: 2.45rem;
  }
  .btn-report {
    width: 2.5rem;
    height: 2.5rem;
  }
  .worklist-form {
    .p-dropdown-label {
      padding: 0.5rem 1rem 0.5rem 0.5rem;
    }
    .p-dropdown-clear-icon {
      right: 1.7rem;
    }
    .p-calendar-clear-icon {
      right: 1rem;
    }
  }
  p-calendar.p-calendar-clearable .p-calendar-clear-icon {
    right: 1.5rem;
  }
  [contenteditable] {
    outline: 0px solid transparent !important;
    border: 1px solid #ced4da;
    border-radius: 6px;
    overflow: auto;
  }
}