<p-dialog [(visible)]="visible" header="Xác nhận" [modal]="true" [style]="{width:'500px'}" (onHide)="cancel()" [closable]="closable">
  <div class="flex align-items-center justify-content-begin">
    <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
    <span [innerHTML]="confirmText"></span>
  </div>
  <ng-template pTemplate="footer">
    <p-button pRipple icon="pi pi-times" styleClass="p-button-text p-button-sm" [label]="cancelLabel"
      (click)="cancel()"></p-button>
    <button pButton pRipple icon="pi pi-check" class="p-button-text p-button-sm p-button-danger" [label]="confirmLabel" (click)="onConfirm.emit()"></button>
  </ng-template>
</p-dialog>
