@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i");
@import url(msc-font.css);

body {
    /* padding-top: 50px; */
    background-color: var(--bg-1);
    height: 100vh;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(149, 149, 149,0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(138, 145, 152,0.1);
}


/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(149, 149, 149, 1);
}

.blank::before {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--bg-1);
    content: ' ';
    z-index: 1;
}

.bg-gray {
    background-color: var(--bg-1);
}

.bg-gray-2 {
    background-color: var(--bg-2);
}

.bg-gray-2-imp {
    background-color: var(--bg-2) !important;
}

.pd-left-10 {
    padding-left: 10px !important;
}

.pd-left-20 {
    padding-left: 20px !important;
}

.pd-right-10 {
    padding-right: 10px;
}

.pd-right-20 {
    padding-right: 20px;
}

.pd-top-0 {
    padding-top: 0;
}

.pd-top-5 {
    padding-top: 5px;
}

.pd-top-8 {
    padding-top: 8px;
}

.pd-top-10 {
    padding-top: 10px;
}

.pd-bottom-0 {
    padding-bottom: 0px !important;
}

.pd-bottom-10 {
    padding-bottom: 10px !important;
}

.pd-bottom-15 {
    padding-bottom: 15px;
}

.mg-left-10 {
    margin-left: 10px;
}

.mg-right-10 {
    margin-right: 10px;
}

.flex-row {
    display: flex;
}

.bordered {
    border-radius: 5px !important;
    border: 1px solid var(--border-input) !important;
}

.bordered-input {
    padding: 0px;
    box-sizing: border-box !important;
    height: 46px;
    width: 100% !important;
    border-radius: 5px !important;
    outline: none !important;
    border: 1px solid var(--border-button-color);
    font-size: 14px !important;
    box-shadow: none !important;
    transition: 0.2s;
}

/* .k-window-content {
    padding: 0px !important;
    border-radius: 0px 0px 5px 5px !important;
} */

.windows-footer {
    padding: 0 16px;
    border-radius: 0px 0px 5px 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--bg-2);
    height: 48px;
    box-sizing: border-box;
    display: flex;
    vertical-align: middle;
    align-content: center;
    align-items: center;
    justify-content: flex-end;
}

.windows-footer .btn {
    height: 32px;
    padding: 0px 20px;
    box-sizing: border-box;
}

.windows-footer .btn-success {
    border: 1px solid var(--border-btn-success);
    background: var(--bg-btn-success);
}

.windows-footer .btn-danger {
    border: 1px solid var(--border-btn-danger);
    background: var(--bg-btn-danger);
}

* {
    box-sizing: border-box;
    font-size: 14px;
    /*font-family: Roboto, sans-serif !important;*/
}

#main-content {
    display: flex;
    height: calc(100% - 0px);
    border-top: solid 1px var(--border-button-color);
}

.h-unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently */
}

.h-hud {
    position: absolute;
    width: auto;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 4px 8px;
    background: rgba(0, 0, 0, 0.3);
    /* background-color: white; */
    backdrop-filter: blur(2px);
}

.patient-hud {
    top: 0px;
    left: 0px;
    border-left: none;
    border-top: none;
    border-bottom-right-radius: 2px;
}

.h-icon-btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.show-tool-box {
    display: none;
}

#tool-box {
    width: 48px;
    /*height: 100%;*/
    display: flex;
    padding: 0;
    padding-top: 40px;
    background-color: var(--bg-slider-tool);
    border-right: 1px solid var(--border-tool-bar);
    flex-direction: column;
    text-align: center;
    max-width: 50px;
    align-items: center;
}

    #tool-box .float-bottom {
        border-top: 1px dashed gray;
        padding-top: 15px;
        padding-bottom: 15px;
        margin: auto auto 0;
    }

#tool-box div.tool-btn {
    border-radius: 5px;
    width: 20px;
    padding: 8px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

    #tool-box div.tool-btn svg .stroke {
        fill: #6d6d6d;
        transition: 0.2s;
    }

    #tool-box div.tool-btn svg .stroke-stroke {
        stroke: #707070;
        transition: 0.2s;
    }

    #tool-box div.selected svg .stroke {
        fill: #2196f3 !important;
    }

    #tool-box div.selected svg .stroke-stroke {
        stroke: #2196f3 !important;
    }

#tool-box hr {
    height: 0px;
    border-top: 1px solid var(--border-tool-box);
    margin-bottom: 10px;
    margin-top: 10px;
}

#tool-box img, #tool-box svg {
    /*padding: 5px;*/
    /*width: 40px;*/
    /*border: 1px solid #222222;*/
    /*border-radius: 2px;*/
    /*margin-top: 7px;*/
    /*background-color: #333333;*/
    cursor: pointer;
    transition: 0.2s;
}

.panel-title {
    text-transform: uppercase;
    color: var(--text-panel-title);
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    margin: 15px;
}
.panel-title span {
    font-size: 16px;
}

#tool-box img.selected {
    /*border: 1px solid white;*/
    transition: 0.2s;
}

#tool-box .separator {
    border-top: 1px dashed gray;
    height: 8px;
    width: 70%;
}

#slide-viewer {
    display: flex;
    width: 100%;
    flex-direction: column;
    position: relative;
}

#slide-viewer-loading {
    display: none;
    position: absolute;
    left: 36px;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: lightgray;
    justify-content: center;
    text-align: center;
}

#slide-viewer-loading img {
    height: 30%;
    margin: 20%;
}

#slide-info {
    bottom: 0px;
    left: 0px;
    font-size: 12px;
    border-top-right-radius: 2px;
    border-left: none;
    border-bottom: none;
    position: absolute;
    display: flex;
}

    #slide-info span, #slide-info > div {
        font-size: 14px;
    }

    #slide-info table {
        width: 100%;
    }

#openseadragonWindow {
    width: 100%;
    height: 100%;
    padding: 0px;
    background-color: var(--bg-openseadragon);
}

#openseadragonWindow:focus,
canvas:focus,
.openseadragon-canvas:focus {
    border: none !important;
    outline: none !important;
}

#slide-title {
    color: white;
    padding: 10px;
    width: 100%;
    background-color: rgb(16, 16, 16);
    border: 1px solid #313131;
    /*text-align: left;*/
    padding-left: 20px;
}

#slide-title > div {
    cursor: pointer;
    padding: 0px 5px;
}

#right-panel-container {
    height: 100%;
}

    #right-panel-container .left-piece {
        position: absolute;
        top: 50%;
        right: calc(100% - 1px);
        width: 16px;
        height: 80px;
        background: var(--bg-slider-tool);
        transform: translate(0px, -50%);
        border-top-left-radius: 999px;
        border-bottom-left-radius: 999px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-bottom: 1px solid var(--border-tool-bar);
        border-top: 1px solid var(--border-tool-bar);
        border-left: 1px solid var(--border-tool-bar);
        color: #666;
        font-size: 12px;
    }

#key-image {
    height: 100%;
    width: 280px;
    min-width: 200px;
    max-width: 320px;
    padding: 10px;
    padding-left: 0px;
    padding-right: 0px;
    /*padding-top: 40px;*/
    background-color: var(--bg-slider-tool);
    border-left: 1px solid var(--border-tool-bar);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    z-index: 1;
    color: #333;
    overflow-y: auto;
}

#key-image hr {
    border-top: 2px solid #eeeded;
    margin: 10px;
}

#key-image h4 {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    display: inline;
}

#slides-box,
#images-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#slides-box {
    padding: 0px 8px 0 11px;
}

#images-box {
    padding: 0px 15px;
}

#slides-box .image-container {
    margin: 4px 1.5%;
    text-align: center;
    width: 30%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    justify-content: space-between;
}

#slides-box .image-container > div > div.slide-thumbnail {
    min-height: 110px;
    max-height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    /*background: #8b8b8b;*/
}

#slides-box .image-container + hr {
    display: none;
}

#slides-box .image-container img {
    max-width: 100%;
    max-height: 100%;
    z-index: 1;
}

#slides-box .image-container .background,
#images-box .image-container .background {
    position: absolute;
    top: 0;
    transform: scale(1.5);
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    /* z-index: 2; */
    filter: blur(3px);
}

#slides-box .image-container .dark-overlay,
#images-box .image-container .dark-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
}

#slides-box .image-container .img-title {
    display: block;
    font-size: 12px;
    margin-top: 5px;
}

#slides-box .image-container .slide-title {
    font-size: 13px;
    font-weight: bold;
    margin-top: 8px;
}

.jpeg-type {
    font-size: 10px !important;
    color: darkcyan;
    line-height: 55px;
}

#right-panel-container .rounded-box {
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: white;
}

#images-box > div {
    text-align: center;
    width: 100%;
    display: flex;
    cursor: pointer;
    margin-bottom: 15px;
    position: relative;
}

#images-box .selected::before {
    width: 100%;
    height: 100%;
    background-color: rgba(7, 184, 255, 0.3);
    position: absolute;
    z-index: 2;
    content: ' ';
}

#images-box .keyimage-thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    position: relative;
    cursor: pointer;
    width: 75px;
    height: 75px;
    min-width: 75px;
    max-width: 75px;
    background-color: #cccccc;
}

.keyimage-detail {
    width: 100%;
    display: flex;
    margin-left: 10px;
    flex-direction: column;
    justify-content: left;
}

    .keyimage-detail .keyimage-title {
        text-align: left;
        font-size: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
        user-drag: none;
        user-select: none;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        color: #333333;
        font-weight: bold;
    }

    .keyimage-desc {
        text-align: left;
        font-size: 13px;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 4px;
        user-drag: none;
        user-select: none;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        color: #636363;
    }

.keyimage-btn {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 24px;
    height: 24px;
    font-size: 14px;
    color: #333333;
    border: solid 1px #cccccc;
    border-radius: 4px;
}
.keyimage-btn:hover {
    background-color: #dddddd;
}

#images-box .keyimage-thumbnail img {
    max-width: 100%;
    max-height: 100%;
    z-index: 1;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.highlight {
    border: 1px solid #08a4a7;
    box-shadow: 0px 0px 5px #08a4a7;
}

.keyimage-note {
    position: absolute;
    width: 100%;
    padding: 5px 10px;
    /*padding-left*/
    top: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid #08a4a7;
    /*border-top: none;*/
    box-shadow: 0px 0px 3px #08a4a7;
}

.contextmenu {
    border-radius: 3px;
    border: 1px solid #222222;
    color: white;
    background-color: #333333;
    position: absolute;
    z-index: 99;
    /*opacity: 0.8;*/
    display: none;
}

    .contextmenu .show-drawing {
        display: none;
    }

    .drawing .show-drawing {
            display: block;
    }

    .contextmenu .h-right-field {
        float: right;
    }

    .contextmenu .context-menu-item ul {
        margin-bottom: 0px;
    }
        .contextmenu .context-menu-item ul li {
            padding: 0.5em 0.7em;
            border-bottom: 1px solid #555;
            cursor: pointer;
            transition: 0.2s;
        }

        .contextmenu .context-menu-item ul li:hover {
            background-color: #222;
        }

        .contextmenu .context-menu-item ul li.zoom-btn-group {
            padding-top: 0.4em;
            padding-bottom: 0.4em;
            display: flex;
            align-items: center;
        }

        .contextmenu .context-menu-item ul li:last-child {
            border-bottom: none;
        }

    .has-extend-content ul {
        margin-bottom: 15px;
    }

        .has-extend-content ul li:last-child {
            border-bottom: 1px solid #555;
        }

.k-menu-group {
    padding: 0 0 !important;
}

.contextmenu input {
    color: white;
    border: 1px solid #222;
    background-color: #555;
}

.contextmenu .form-group {
    margin-bottom: 12px;
}

.contextmenu .title {
    color: gray;
    font-size: 13px;
    margin-bottom: 8px;
    text-transform: uppercase;
}

.contextmenu .title::after {
    content: "";
    width: 100%;
    border-top: 1px solid gray;
    display: block;
}

.form-example-int label {
    color: white;
}

#SlideDetail table {
    line-height: 1.3;
}

#SlideDetail table th {
    padding-right: 20px;
}

#keyImageProperties {
    border-radius: 5px;
    color: white;
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.5) !important;
    border-radius: 5px;
    /* border: 1px solid #222!important; */
    /* border-radius: 2px; */
    color: #fff;
    padding: 8px !important;
    display: flex;
    flex-direction: column;
}

    #keyImageProperties input, #keyImageProperties textarea {
        padding: 8px;
        background-color: #555555;
        width: 100%;
        border-radius: 5px;
        border: none;
        background: rgba(0, 0, 0, 0.6);
        outline: none !important;
        margin-bottom: 5px;
    }

    #keyImageProperties input {
        line-height: 45px;
        padding: 0px 8px;
    }

    #keyImageProperties textarea {
        padding: 8px;
        box-sizing: border-box;
        line-height: 1.3;
        height: 100%;
    }

    #keyImageProperties > div {
        position: relative;
        margin-bottom: 8px;
    }

    #keyImageProperties .selection-btn-group {
        display: flex;
        justify-content: flex-end;
    }

    #keyImageProperties .btn-cancel {
        right: 0px;
        top: -2px;
        cursor: pointer;
        width: 20px;
        height: 20px;
        font-size: 13px;
        justify-content: center;
        align-items: center;
        display: flex;
        border-radius: 999px;
        background-color: #d95945;
    }

    #keyImageProperties .btn-config {
        top: -2px;
        right: 26px;
        width: 20px;
        height: 20px;
        border-radius: 999px;
        background: var(--btn-info-simple-bg);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 11px;
        cursor: pointer;
    }

    #keyImageProperties .btn-confirm {
        box-sizing: border-box;
        height: 30px;
        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        /* padding: 10px; */
        float: right;
        /* margin-top: 10px; */
        background-color: #37b248;
        border: 1px solid #249533;
        cursor: pointer;
        border-radius: 5px;
        min-height: 30px;
        margin-left: auto;
        margin-right: 0px;
        margin-bottom: 0px;
    }

    #keyImageProperties .selection-title {
        display: flex;
        justify-content: space-between;
    }

    #keyImageProperties > div {
        margin-bottom: 5px;
        cursor: default;
    }

.k-state-hover {
    background-color: #222 !important;
}

#annotationDialog .windows-content {
    height: 100%;
    padding-bottom: 15px;
}

#annotation_text {
    display: flex;
    height: 100%;
}

.openseadragon-container {
    overflow: visible !important;
}

.ruler {
    text-shadow: rgb(255, 255, 255) -1px -1px 2px, rgb(255, 255, 255) 1px -1px 2px, rgb(255, 255, 255) -1px 1px 2px, rgb(255, 255, 255) 1px 1px 2px;
}

.ruler > div:first-child {
    font-size: 12px;
}

.ruler .ruler-line {
    /* border-top: 2px solid #333; */
    display: flex;
    box-sizing: border-box;
    height: 6px;
    margin-top: 5px;
    border-bottom: 1px solid #333;
    box-shadow: -1px 0px 0px rgba(255, 255, 255, 0.6), 0px 1px 0px rgba(255, 255, 255, 0.6), 1px 0px 0px rgba(255, 255, 255, 0.6);
}

.ruler .ruler-line div {
    width: 100%;
    border-left: 1px solid #333;
    box-shadow: 0px -1px 1px rgba(255, 255, 255, 0.6) inset, -1px -1px 1px rgba(255, 255, 255, 0.6) inset, 1px -1px rgba(255, 255, 255, 0.6) inset;
}

    .ruler .ruler-line div:last-child {
        border-right: 1px solid #333;
    }

    .ruler .ruler-number {
        display: flex;
    }

    .ruler .ruler-number div {
        width: 100%;
        text-align: right;
        font-size: 10px;
    }

.ruler-vertical {
    justify-content: flex-end;
    display: flex;
    /* flex-direction: column; */
    flex-direction: column;
}

    .ruler-vertical .hide {
        display: none !important;
    }

    .ruler-vertical > div:first-child {
        display: flex;
        align-items: flex-end;
        position: absolute;
        top: -20px;
        font-size: 12px;
    }

    .ruler-vertical > div:last-child {
        display: flex;
        justify-content: flex-end;
        flex-direction: row-reverse;
        height: 100%;
    }

    .ruler-vertical .ruler-line {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        /* height: 6px; */
        width: 6px;
        /* margin-top: 5px; */
        margin-right: 5px;
        border-left: 1px solid #333;
        box-shadow: -1px 0px 0px rgba(255, 255, 255, 0.6), 0px 1px 0px rgba(255, 255, 255, 0.6), 0px -1px 0px rgba(255, 255, 255, 0.6);
    }

    .ruler-vertical .ruler-line > div {
        border-top: 1px solid #333;
        /* width: 100%; */
        height: 100%;
        box-shadow: 0px -1px 1px rgba(255, 255, 255, 0.6) inset, 1px -1px 1px rgba(255, 255, 255, 0.6) inset, 1px -1px rgba(255, 255, 255, 0.6) inset;
    }

    .ruler-vertical .ruler-line > div:last-child {
        border-bottom: 1px solid #333;
    }

    .ruler-vertical .ruler-number {
        margin-right: 5px;
        display: flex;
        flex-direction: column;
    }

    .ruler-vertical .ruler-number > div {
        height: 100%;
        display: flex;
        align-items: flex-end;
        /* text-align: right; */
        font-size: 10px;
    }

.float-button-container {
    position: absolute;
    right: 10px;
    bottom: 40px;
    z-index: 10;
    transition: 0.1s;
    width: 64px;
    height: 64px;
}

    .float-button-container .float-button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #d84c4c;
        border: 2px solid #f2565b;
        border-radius: 999px;
        width: 48px;
        height: 48px;
        z-index: 10;
        color: #fed4d4;
        transition: 0.1s;
    }

        .float-button-container .float-button i {
            font-size: 30px;
            transition: 0.1s;
        }

        .float-button-container .float-button img {
            width: 50%;
        }

        .float-button-container .float-button:active img {
            width: 60%;
        }

    .float-button-container .outline-1 {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 56px;
        height: 56px;
        border: 2px solid rgba(255, 0, 0, 0.4);
        transform: translate(-50%, -50%);
        border-radius: 999px;
        transition: 0.1s;
    }

    .float-button-container .outline-2 {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 64px;
        height: 64px;
        border: 2px solid rgba(255, 0, 0, 0.2);
        transform: translate(-50%, -50%);
        border-radius: 999px;
        transition: 0.1s;
    }

    .float-button-container:active {
            transition: 0.1s;
    }

        .float-button-container:active .float-button {
            background: #df7c7c;
            border: 2px solid #f2565b;
        }

        .float-button-container:active .outline-1 {
            border: 2px solid #f2565b;
        }

        .float-button-container:active .outline-2 {
            border: 2px solid #f2565b;
        }

#for-clinican {
    display: none;
}

.zoom-bar {
    position: absolute;
    bottom: 5px;
    display: flex;
    z-index: 3;
    padding: 5px 10px;
    background: linear-gradient(180deg, #4e4c4d, #242424);
    color: white;
    border-radius: 4px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    /*left: 50%;
    transform: translate(-50%, 0px);*/
    right: 10px;
    line-height:12px;
    height:32px;
}

    .zoom-bar .drag-icon {
        padding-right: 10px;
        align-items: center;
        display: flex;
        cursor: move;
    }

    .zoom-bar .zoom-btn-group {
        display: flex;
    }

        .zoom-bar .zoom-btn-group::first-child {
            margin-left: 0px;
        }

        .zoom-bar .zoom-btn-group .zoom-btn {
            font-size: 12px;
            padding: 0.3em 0.5em;
            border: 1px solid #a6a4a5;
            color: #a6a4a5;
            border-radius: 4px;
            transition: 0.2s;
            cursor: pointer;
            margin-left: 8px;
        }

            .zoom-bar .zoom-btn-group .zoom-btn:hover {
                border-color: white;
                color: white;
                transition: 0.2s;
            }

    .zoom-level {
        display: flex;
        align-items: center;
    }
    .zoom-level div {
        font-size:12px !important;
    }

    .zoom-slider {
        padding: 0px 8px;
        display: flex;
        align-items: center;
    }

        .zoom-slider .k-draghandle {
            border-radius: 0px;
            width: 1px;
            height: 12px;
            top: -7px;
        }

        .zoom-slider .k-slider-selection, .k-draghandle {
            background-color: var(--text-panel-title);
            border-color: var(--text-panel-title);
        }

#annotationDialog .windows-content {
    height: auto;
    padding-bottom: 15px;
}

#annotationDialog .windows-content span {
    padding-bottom: 8px;
}

#annotation_text {
    display: flex;
    height: 32px;
    width: 100%;
}

.slide-properties div {
    margin-top: 6px;
}
.slide-properties div span {
    margin-left: 8px;
}

@media only screen and (max-width: 1200px) {
    .panel-title,
    .panel-title span {
        font-size: 14px;
    }
}