<ng-container *ngIf="layoutConfig==LAYOUT_CONFIG.VT">
  <th class="flex flex-none bg-white py-0 pr-0" [style]="{'width':'60px'}"></th>
  <th class="flex flex-none bg-white py-0 pr-0" [style]="{'width':'10rem'}">
    <p-dropdown [(ngModel)]="searchData.status" (ngModelChange)="onSearch.emit(searchData)"
      [options]="REPORT_STATES" optionLabel="label" optionValue="value" placeholder="Select"
      appendTo="body" [showClear]="true" [style]="{'width':'9rem'}"></p-dropdown>
  </th>
  <th class="flex flex-none bg-white py-0 pr-0" [style]="{'width':cols[0].width}">
    <input [value]="(searchData.from?(searchData.from | date:'dd/MM/yyyy'):'') + '-' + 
      (searchData.to?(searchData.to | date:'dd/MM/yyyy'):'')" (click)="sltDateRange.toggle($event)"
      readonly pInputText type="text" class="w-11 p-inputtext-sm text-base" />
  </th>
  <th class="flex flex-none bg-white py-0 pr-0" [style]="{'width':cols[1].width}">
    <input [(ngModel)]="searchData.patientName" (keydown.enter)="onSearch.emit(searchData)" pInputText type="text" class="w-11 p-inputtext-sm text-base" />
  </th>
  <th class="flex flex-none bg-white py-0 pr-0" [style]="{'width':cols[2].width}">
    <input [(ngModel)]="searchData.patientCode" (keydown.enter)="onSearch.emit(searchData)" pInputText type="text" class="w-11 p-inputtext-sm text-base" />
  </th>
  <th class="flex flex-none bg-white py-0 pr-0" [style]="{'width':cols[3].width}">
    <p-dropdown [(ngModel)]="searchData.hasSlide" (ngModelChange)="onSearch.emit(searchData)"
      [options]="FILTER_STATES_1" optionLabel="label" optionValue="value"
      appendTo="body" [showClear]="false" [style]="{'width':'9rem'}"></p-dropdown>
  </th>
  <th class="flex flex-none bg-white py-0 pr-0" [style]="{'width':cols[4].width}">
    <p-dropdown [(ngModel)]="searchData.hasConclusion" (ngModelChange)="onSearch.emit(searchData)"
      [options]="FILTER_STATES_2" optionLabel="label" optionValue="value"
      appendTo="body" [showClear]="false" [style]="{'width':'9rem'}"></p-dropdown>
  </th>
  <th class="flex flex-none bg-white py-0 pr-0" [style]="{'width':cols[5].width}">
    <p-dropdown [(ngModel)]="searchData.isApprove" (ngModelChange)="onSearch.emit(searchData)"
      [options]="FILTER_STATES_3" optionLabel="label" optionValue="value"
      appendTo="body" [showClear]="false" [style]="{'width':'9rem'}"></p-dropdown>
  </th>
  <th class="flex flex-none bg-white py-0 pr-0" [style]="{'width':cols[6].width}">
    <p-dropdown [(ngModel)]="searchData.isPrint" (ngModelChange)="onSearch.emit(searchData)"
      [options]="FILTER_STATES_4" optionLabel="label" optionValue="value"
      appendTo="body" [showClear]="false" [style]="{'width':'9rem'}"></p-dropdown>
  </th>
  <th class="flex flex-none bg-white py-0 pr-0" [style]="{'width':cols[7].width}">
    <input readonly pInputText type="text" class="w-11 p-inputtext-sm text-base" />
  </th>
  <th class="flex flex-none bg-white py-0 pr-0" [style]="{'width':cols[8].width}">
    <input [(ngModel)]="searchData.specimensCode" (keydown.enter)="onSearch.emit(searchData)" pInputText type="text" class="w-11 p-inputtext-sm text-base" />
  </th>
  <th class="flex flex-none bg-white py-0 pr-0" [style]="{'width':cols[9].width}">
    <p-dropdown [(ngModel)]="searchData.requestType" (ngModelChange)="onSearch.emit(searchData)"
      [options]="REQUEST_TYPES" optionLabel="label" optionValue="value"
      placeholder="Select" appendTo="body" [showClear]="true" [style]="{'width':'9rem'}"></p-dropdown>
  </th>
  <th class="flex flex-none bg-white py-0 pr-0" [style]="{'width':cols[10].width}">
    <input readonly pInputText type="text" class="w-11 p-inputtext-sm text-base" />
  </th>
  <th class="flex flex-none bg-white py-0 pr-0" [style]="{'width':cols[11].width}">
    <input readonly pInputText type="text" class="w-11 p-inputtext-sm text-base" />
  </th>
  <th class="flex flex-none bg-white py-0 pr-0" [style]="{'width':cols[12].width}">
    <input readonly pInputText type="text" class="w-11 p-inputtext-sm text-base" />
  </th>
  <th class="flex flex-none bg-white py-0 pr-0" [style]="{'width':cols[13].width}">
    <input [(ngModel)]="searchData.diagnose" (keydown.enter)="onSearch.emit(searchData)" pInputText type="text" class="w-11 p-inputtext-sm text-base" />
  </th>
  <th class="flex flex-none bg-white py-0 pr-0" [style]="{'width':cols[14].width}">
    <input [(ngModel)]="searchData.conclusion" (keydown.enter)="onSearch.emit(searchData)" pInputText type="text" class="w-11 p-inputtext-sm text-base" />
  </th>
  <p-overlayPanel #sltDateRange [showCloseIcon]="false" [appendTo]="'body'">
    <ng-template pTemplate>
      <p-calendar placeholder="Lọc từ ngày" [(ngModel)]="searchData.from" (ngModelChange)="onSearch.emit(searchData)" [showButtonBar]="true" [showClear]="true"
        [showIcon]="false" appendTo="body" [dateFormat]="'dd/mm/yy'" inputStyleClass="mr-2 pl-3 w-14rem border-round-3xl p-inputtext-sm"></p-calendar>
      <p-calendar placeholder="Lọc đến ngày" [(ngModel)]="searchData.to" (ngModelChange)="onSearch.emit(searchData)" [showButtonBar]="true" [showClear]="true"
        [showIcon]="false" appendTo="body" [dateFormat]="'dd/mm/yy'" inputStyleClass="mr-2 pl-3 w-14rem border-round-3xl p-inputtext-sm"></p-calendar>
    </ng-template>
  </p-overlayPanel>
</ng-container>
<ng-container *ngIf="layoutConfig==LAYOUT_CONFIG.DEFAULT">
  <th class="flex flex-none bg-white py-0 pr-0" [style]="{'width':'60px'}"></th>
  <th class="flex flex-none bg-white py-0 pr-0" [style]="{'width':'10rem'}">
  <p-dropdown [(ngModel)]="searchData.status" (ngModelChange)="onSearch.emit(searchData)"
    [options]="REPORT_STATES" optionLabel="label" optionValue="value" placeholder="Select"
    appendTo="body" [showClear]="true" [style]="{'width':'9rem'}"></p-dropdown>
  </th>
  <th class="flex flex-none bg-white py-0 pr-0" [style]="{'width':cols[0].width}">
    <input [value]="(searchData.from?(searchData.from | date:'dd/MM/yyyy'):'') + '-' + 
      (searchData.to?(searchData.to | date:'dd/MM/yyyy'):'')" (click)="sltDateRange.toggle($event)"
      readonly pInputText type="text" class="w-11 p-inputtext-sm text-base" />
  </th>
  <th class="flex flex-none bg-white py-0 pr-0" [style]="{'width':cols[1].width}">
    <input [(ngModel)]="searchData.patientName" (keydown.enter)="onSearch.emit(searchData)" pInputText type="text" class="w-11 p-inputtext-sm text-base" />
  </th>
  <th class="flex flex-none bg-white py-0 pr-0" [style]="{'width':cols[2].width}">
    <input [(ngModel)]="searchData.patientCode" (keydown.enter)="onSearch.emit(searchData)" pInputText type="text" class="w-11 p-inputtext-sm text-base" />
  </th>
  <th class="flex flex-none bg-white py-0 pr-0" [style]="{'width':cols[3].width}">
    <input readonly pInputText type="text" class="w-11 p-inputtext-sm text-base" />
  </th>
  <th class="flex flex-none bg-white py-0 pr-0" [style]="{'width':cols[4].width}">
    <input [(ngModel)]="searchData.specimensCode" (keydown.enter)="onSearch.emit(searchData)" pInputText type="text" class="w-11 p-inputtext-sm text-base" />
  </th>
  <th class="flex flex-none bg-white py-0 pr-0" [style]="{'width':cols[5].width}">
    <p-dropdown [(ngModel)]="searchData.requestType" (ngModelChange)="onSearch.emit(searchData)"
      [options]="REQUEST_TYPES" optionLabel="label" optionValue="value"
      placeholder="Select" appendTo="body" [showClear]="true" [style]="{'width':'9rem'}"></p-dropdown>
  </th>
  <th class="flex flex-none bg-white py-0 pr-0" [style]="{'width':cols[6].width}">
    <input readonly pInputText type="text" class="w-11 p-inputtext-sm text-base" />
  </th>
  <th class="flex flex-none bg-white py-0 pr-0" [style]="{'width':cols[7].width}">
    <input readonly pInputText type="text" class="w-11 p-inputtext-sm text-base" />
  </th>
  <th class="flex flex-none bg-white py-0 pr-0" [style]="{'width':cols[8].width}">
    <input readonly pInputText type="text" class="w-11 p-inputtext-sm text-base" />
  </th>
  <th class="flex flex-none bg-white py-0 pr-0" [style]="{'width':cols[9].width}">
    <input [(ngModel)]="searchData.diagnose" (keydown.enter)="onSearch.emit(searchData)" pInputText type="text" class="w-11 p-inputtext-sm text-base" />
  </th>
  <th class="flex flex-none bg-white py-0 pr-0" [style]="{'width':cols[10].width}">
    <input [(ngModel)]="searchData.conclusion" (keydown.enter)="onSearch.emit(searchData)" pInputText type="text" class="w-11 p-inputtext-sm text-base" />
  </th>
  <p-overlayPanel #sltDateRange [showCloseIcon]="false" [appendTo]="'body'">
    <ng-template pTemplate>
      <p-calendar placeholder="Lọc từ ngày" [(ngModel)]="searchData.from" (ngModelChange)="onSearch.emit(searchData)" [showButtonBar]="true" [showClear]="true"
        [showIcon]="false" appendTo="body" [dateFormat]="'dd/mm/yy'" inputStyleClass="mr-2 pl-3 w-14rem border-round-3xl p-inputtext-sm"></p-calendar>
      <p-calendar placeholder="Lọc đến ngày" [(ngModel)]="searchData.to" (ngModelChange)="onSearch.emit(searchData)" [showButtonBar]="true" [showClear]="true"
        [showIcon]="false" appendTo="body" [dateFormat]="'dd/mm/yy'" inputStyleClass="mr-2 pl-3 w-14rem border-round-3xl p-inputtext-sm"></p-calendar>
    </ng-template>
  </p-overlayPanel>
</ng-container>