body {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    background: #ffffff;
    font-family: sans-serif, arial;
    overflow: hidden;
}

div {
    box-sizing: border-box;
}

.clear {
    clear: both;
}

.full-wrap {
    width: 100%;
    height: 100%;
    overflow: scroll;
    background: #d4d4d4;
    padding: 8px 16px;
}

.leftCol {
    float: left;
    width: 80%;
    height: 100%;
    background: #d4d4d4;
    overflow: scroll;
}
.rightCol {
    float: right;
    width: 20%;
    background: #eeeeee;
    height: 100%;
    padding: 12px;
    overflow-y: scroll;
}
.separator {
    width: 100%;
    height: 8px;
    border-bottom: solid 2px #cdcdcd;
    margin-bottom: 8px;
    clear: both;
}
.rightCol .box-title {
    padding: 4px 0 6px;
}
.rightCol .box-title span {
    font-weight: bold;
}
.rightCol .row {
    width: 100%;
    margin: 6px 0;
    clear: both;
}
.rightCol .row .col-half {
    float: left;
    width: 50%;
}
.rightCol .row .col-half span {
    margin-top: 4px;
    display: block;
}
.rightCol .col-btn {
    background-color:lavender;
    width: 100px;
    padding: 4px 8px;
    text-align: center;
}
.rightCol .col-btn:hover {
    background-color: skyblue;
}
.rightCol .row-flex {
    width: 100%;
    margin: 8px 0;
    clear: both;
    display: flex;
    flex-direction: row;
}
.rightCol .row-flex .col-3 {
    width: 25%;
}
.rightCol .row-flex .col-9 {
    width: 75%;
}
.rightCol .row-flex .col-half {
    width: 50%;
}
.rightCol .row-flex .col-half span {
    margin-top: 4px;
    display: block;
}
.rightCol .toolbar-btn {
    display: block;
    width: 26px;
    height: 26px;
    padding: 4px;
    margin-right: 6px;
    background-color: #fffdfd;
    border: solid 1px #33333380;
    font-size: 13px;
    color: #333333;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
}
.rightCol .toolbar-btn:hover {
    background-color: skyblue;
}
.rightCol .toolbar-btn-large {
    width: 100px;
}
.rightCol .toolbar-btn-2x {
    width: 150px;
}
.rightCol .toolbar-btn-main {
    background-color:lavender;
}
.rightCol .toolbar-btn-red {
    color:red !important;
    border: solid 1px #dd000080;
}
.rightCol .box-detail {
    background-color: #d4d4d4;
    padding: 8px;
}
.context-popup {
    position: absolute;
    width: 160px;
    height: auto;
    background-color: #ededed;
    border-right: solid 1px #d0d0d0;
    border-bottom: solid 1px #a0a0a0;
    border-left: solid 1px #f2f2f2;
    padding: 4px 8px;
    z-index: 800;
}
.context-popup a {
    display: block;
    width: 100%;
    padding: 4px 0;
    cursor: pointer;
}
.context-popup a:hover {
    background-color: lavender;
}
.panel-tab-list {
    border-bottom: solid 1px #33333380;
}
.panel-title-tab {
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    margin: 8px 8px 0 0;
    padding: 6px 8px 2px 8px;
    width: auto;
    float: left;
}
.panel-title-tab span {
    font-size: 14px;
}
.tab-active {
    color: #3089ff;
    border-bottom: solid 2px #3089ff;
    background: #e0e0e0;
}

#main-form {
    width: 210mm;
    height: 297mm;
    border: 1px solid #fff;
    box-shadow: 0 0 6px 0 #969696;
    margin: 16px auto 10px;
    background-color: #fff;
    position: relative;
    padding: 0;
}

/* element controlling */
.controll-div:hover {
    background-color: #eeeeee80;
}
.controll-div:focus-visible{
    outline: none !important;
}
.controll-div:focus {
    outline: none !important;
}
.selecting {
    border: dashed 1px #00a8ff;
    z-index: 600;
}
.anchor-selecting {
    z-index: 601;
}
.cloning {
    border: dashed 1px #00a8ff;
}
.elem-anchor {
    position: absolute;
    background-color: #00a8ff80;
}
.elem-anchor-0,
.elem-anchor-4
 {
    cursor: ns-resize;
}
.elem-anchor-1,
.elem-anchor-5
 {
    cursor: nesw-resize;
}
.elem-anchor-2,
.elem-anchor-6
 {
    cursor: ew-resize;
}
.elem-anchor-3,
.elem-anchor-7
 {
    cursor: nwse-resize;
}

/* alignment lines */
.line-horz {
    position: absolute;
    z-index: 1000;
    height: 1px;
    width: 2000px;
    left: 0;
    top: -500px;
    background-color:#dc143c;
}
.line-vert {
    position: absolute;
    z-index: 1001;
    width: 1px;
    height: 2000px;
    top: 0;
    left: -500px;
    background-color:#dc143c;
}
.line-correct {
    background-color:#00a8ff !important;
}

/* multi selection */
.multi-selecting {
    background-color:#00a8ff40;
    border: dashed 1px #0083c5;
    position: absolute;
    z-index: 1005;
    display: none;
}

/* preview / printing */
#preview-bg {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #a9a9a980;
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    z-index: 1005;
}
#preview-content {
    background-color: #ffffff;
    width: 75%;
    height: 90%;
    overflow: scroll;
    position: relative;
}
.form-input {
    width: 100%;
    height: 100%;
}
.form-input-label {
    background-color: #cdcdcd80;
    color: #ff9e00;
    font-size: 10px;
    position: absolute;
    width: 100%;
    height: 15px;
    top: -15px;
    left: 0;
    padding: 2px;
    overflow: hidden;
    user-select: none;
}
.form-label {
    display: block;
    width: 100%;
    height: auto;
    background: transparent;
    user-select: none;
}
.form-common-info {
    display: block;
    width: 100%;
    height: auto;
    /*overflow: hidden;*/
    user-select: none;
}
.form-image-stretch {
    width: 100%;
    height: 100%;
}
.form-image-fit {
    max-width: 100%;
    max-height: 100%;
}
.form-image-center {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.form-panel {
    border: dashed 1px #969696;
}
.panel-active {
    border: dashed 1px #dc143c;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.panel-dragover {
    border: dashed 2px #f26641;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}