<div class="grid">
  <div class="col-12 p-0">
    <div class="card admin-content m-0">
      <div class="my-2 flex justify-content-between flex-wrap">
        <span class="block p-input-icon-left">
        </span>
        <div class="flex justify-content-end flex-wrap">
          <button pButton pRipple label="Thêm mới mẫu in" icon="pi pi-plus" class="p-button-success p-button-sm"
            (click)="onCreateItem()"></button>
        </div>
      </div>
      <m-table [isLazyLoad]="false" [cols]="cols" [items]="printTemplates" (onEditItem)="onEditItem($event)" (onDeleteItem)="onDeleteItem($event)"
        (selectRow)="selectPrintTemplate($event)" [dataKey]="'id'" [loading]="loading" ></m-table>
    </div>
  </div>
</div>

<confirm-dialog [(visible)]="isVisibleDeleteItemDialog" [confirmText]="textConfirmDelete" (onConfirm)="deletePrintTemplate()"></confirm-dialog>
