<p-galleria [value]="images" [(visible)]="visible" [responsiveOptions]="responsiveOptions" [containerStyle]="{'max-width': '50%'}" [numVisible]="9"
  [containerClass]="'key-images-container w-full h-full'" [circular]="true" [fullScreen]="true" [showItemNavigators]="true" [baseZIndex]="100000"
  [(activeIndex)]="activeIndex">
  <ng-template pTemplate="item" let-item>
    <img [src]="item.src" [style.width]="imgWidth" [style.height]="imgHeight" style="display: block; object-fit: contain;"/>
  </ng-template>
  <ng-template pTemplate="thumbnail" let-item>
    <div class="grid grid-nogutter justify-content-center">
      <img [src]="item.src" width="80px" height="60px" class="block mr-1" style="object-fit: contain;"/>
    </div>
  </ng-template>
  <ng-template pTemplate="caption" let-item>
    <h5 style="margin-bottom: .5rem; color: #ffffff;">{{item.title}}</h5>
    <p>{{item.note ?? ''}}</p>
    <input type="checkbox" [checked]="printedKeyImages.indexOf(images[activeIndex].id)>-1" (change)="changePrinted(activeIndex)" class="inline-block w-1rem h-1rem cursor-pointer mr-2">
    <span class="text-lg text-white">In cùng báo cáo - Thứ tự in: {{printedKeyImages.indexOf(images[activeIndex].id)+1}}</span>
  </ng-template>
</p-galleria>