<p-galleria [value]="images" [(visible)]="visible" [responsiveOptions]="responsiveOptions" [containerStyle]="{'max-width': '50%'}" [numVisible]="9"
  [containerClass]="'key-images-container'" [circular]="true" [fullScreen]="true" [showItemNavigators]="true" [baseZIndex]="100000">
  <ng-template pTemplate="item" let-item>
    <img [src]="item.src" width="960px" height="720px" style="display: block; object-fit: contain;"/>
  </ng-template>
  <ng-template pTemplate="thumbnail" let-item>
    <div class="grid grid-nogutter justify-content-center">
      <img [src]="item.src" width="80px" height="60px" style="display: block; object-fit: contain;"/>
    </div>
  </ng-template>
  <ng-template pTemplate="caption" let-item>
    <h4 style="margin-bottom: .5rem; color: #ffffff;">{{item.title}}</h4>
    <p>{{item.note ?? ''}}</p>
  </ng-template>
</p-galleria>