<div class="grid mt-0">
  <div class="col-9 pb-0">
    <p-autoComplete [(ngModel)]="selectedUser" [showEmptyMessage]="true" [suggestions]="filteredUsers" [showClear]="true"
      (onClear)="selectedUser={}" [placeholder]="'Tìm kiếm user'" appendTo="body"
      (completeMethod)="filterUser($event)" field="label" [minLength]="1" inputStyleClass="p-inputtext-sm"></p-autoComplete>
  </div>
  <div class="col-3 pb-0">
    <button [disabled]="!selectedUser.userId" pButton pRipple icon="pi pi-plus" class="p-button-sm" label="Thêm user" (click)="addUser()"></button>
  </div>
  <div class="col-12 pb-0">
    <m-table [isLazyLoad]="false" [cols]="cols" [items]="users" (onDeleteItem)="onDeleteItem($event)" 
      [dataKey]="'id'" [loading]="loading" [actions]="[ACTIONS.DELETE]"></m-table>
  </div>
</div>
<confirm-dialog [(visible)]="isVisibleDeleteItemDialog" [confirmText]="textConfirmDelete" (onConfirm)="removeUser()"></confirm-dialog>
