<div class="grid">
  <div class="col-12 pb-0">
    <div class="card admin-content">
      <div class="my-2 flex justify-content-between flex-wrap">
        <span class="block mt-2 md:mt-0 p-input-icon-left">
        </span>
        <div class="flex justify-content-end flex-wrap">
        </div>
      </div>
      List Users in Group
      <!-- <m-table [cols]="cols" [items]="userGroups" (onEditItem)="onEditItem($event)" (onDeleteItem)="onDeleteItem($event)" [take]="searchData.take"
        (selectRow)="selectUserGroup($event)" (onPageChange)="onPageChange($event)" [totalRecords]="total" [dataKey]="'id'" [loading]="loading" ></m-table> -->
    </div>
  </div>
</div>