:host ::ng-deep .notification-panel-container {
  width: 280px;
  left: -120px;
  overflow-y: auto;
  max-height: 700px;
  box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
  .uploading .title{
    background-color: #29B6F6;
  }
  .processing .title{
    background-color: #FFA726;
  }
  .completed .title{
    background-color: #66BB6A;
  }
}