<p-dialog [(visible)]="visible" [contentStyleClass]="'pb-0'" [style]="{width: '700px'}" [header]="header" [modal]="true"
  class="p-fluid">
  <ng-template pTemplate="content">
    <div class="patient-info-container overflow-auto">
      <div class="grid mx-0 p-1" [formGroup]="uploadForm">
        <div class="field col-3 px-0 pb-0 flex align-items-center">
          <input type="checkbox" [checked]="isPrintKeyImage" (change)="isPrintKeyImage=!isPrintKeyImage" class="inline-block w-1rem h-1rem cursor-pointer mr-2">
          <span>In cùng báo cáo</span>
        </div>
        <div class="field col-9 px-0 pb-0">
          <p-calendar formControlName="createTime" [showTime]="true" [showIcon]="true" appendTo="body" placeholder="Thời gian tạo*"
            inputStyleClass="w-full p-inputtext-sm text-base" [dateFormat]="'dd/mm/yy'"></p-calendar>
        </div>
        <div class="col-3 px-0">
          <span class="text-red-500">*</span>Phương pháp nhuộm:
        </div>
        <div class="field col-9 p-0">
          <p-dropdown formControlName="markerType" optionLabel="name" optionValue="id" appendTo="body"
            [options]="markTypes" placeholder="Phương pháp nhuộm*" [showClear]="true">
          </p-dropdown>
          <div class="m-error" *ngIf="uploadForm.controls['markerType'].invalid && uploadForm.controls['markerType'].dirty">
            *Phương pháp nhuộm không được để trống
          </div>
        </div>
        <div class="col-3 px-0">
          Tiêu đề:
        </div>
        <div class="field col-9 p-0">
          <input formControlName="title" pInputText type="text" class="w-full text-base" placeholder="Tiêu đề">
        </div>
        <div class="col-3 px-0">
          Ghi chú:
        </div>
        <div class="field col-9 p-0">
          <input formControlName="note" pInputText type="text" class="w-full text-base" placeholder="Ghi chú">
        </div>
        <div class="col-9 p-0 flex align-items-center">
          <span class="text-lg font-medium">Số file đã chọn: {{uploadFiles.length}}</span>
        </div>
        <div #uploadSlideContainer class="col-3 p-0">
          <span class="relative overflow-hidden block">
            <span class="w-full h-3rem flex justify-content-center align-items-center bg-primary border-round-md text-base">Chọn file</span>
            <input id="dps-upload-slide" type="file" multiple accept="image/*" class="absolute top-0 right-0 bottom-0 left-0 m-0 p-0 opacity-0 " (change)="onUpload($event)" > 
          </span>
        </div>
        <div class="my-3 w-full">
          <p-table [value]="uploadFiles" styleClass="p-datatable-sm p-datatable-gridlines">
            <ng-template pTemplate="header">
              <tr>
                <th class="w-1">STT</th>
                <th class="w-7">Tên file</th>
                <th class="w-3">File size</th>
                <th class="w-1"></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
              <tr>
                <td>{{rowIndex+1}}</td>
                <td>{{item['name']}}</td>
                <td>{{item['size']}}</td>
                <td>
                  <div class="flex mx-1">
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning p-button-xs" (click)="removeUploadFile(rowIndex)"></button>
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton pRipple label="Đóng" icon="pi pi-times" class="p-button-sm p-button-danger"
      (click)="visible=false"></button>
    <button [loading]="uploading" pButton pRipple label="Tải lên" icon="pi pi-upload" class="p-button-sm p-button-success" (click)="onSave()"></button>
  </ng-template>
</p-dialog>