.common-layout-container {
  height: calc(100vh - 4rem);
}
.layout-option {
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  table {
    &:hover, &.selected {
      color: white !important;
      background-color: var(--green-500);
    }
  }
}
