<div *ngIf="canShowViewer">
    <app-viewer></app-viewer>
</div>
<div [style.visibility]="!canShowViewer">
    <div class="w-screen overflow-hidden">
        <div class="text-center" style="margin-top: 15%;">
            <img src="assets/images/logo-PMRDPS.png" style="width:30%;" />
            <span class="block mt-8 text-2xl font-semibold">Link chia sẻ đã hết thời hạn hoặc không tồn tại!</span>
        </div>
        <div class="text-center mt-6">
            <a href="/login" class="p-button p-button-success text-xl">Đăng nhập</a>
        </div>
    </div>
</div>
