<div>
    <img class="img-404-5" src="assets/images/404-5.png" />
</div>

<div>
    <img class="img-doctor" src="assets/images/doctor-5.png" />
</div>

 <h1 style="margin-top: -37rem; margin-left: 565px; font-size: 38px; font-weight: 700;  ;color: #005da6;">Trang không tồn tại!</h1>
 <!-- <h1 style="margin-left: 902px; margin-top: -4rem; font-weight: 700;color: #c94c24;">!!!</h1> -->
 <a routerLink="/" class="btn" pRipple type="button"> <i class="pi pi-arrow-left" style="font-size: 15px"></i> Trang chủ</a>
