<div class="min-h-screen h-full overflow-hidden">
  <div>
    <img class="fixed left-0 h-full w-7" src="assets/images/img-login.jpg" />
    <img class="fixed left-0 h-full w-full opacity-90" src="assets/images/bg_left.png" />
  </div>
  <div>
    <img class="fixed left-0 h-full w-full" src="assets/images/bg_right.png" />
  </div>
  <div class="grid">
    <div class="col-6 mt-8">
      <div class="mt-8 m-auto relative z-1 text-center text-white">
        <img class="h-9rem mt-8" src="assets/images/unnamed.png"
          style="margin-left: 51px; margin-bottom: -16px; height: 13rem !important;" />
        <h1 class="text-6xl mt-5" style="margin-left: 46px;">DPS</h1>
        <h2 class="font-light mt-6" style="margin-left: 61px; font-size: 17px;">{{slogan.content}}
        </h2>
        <h2 class="font-light mt-5" style="margin-left: 51px; font-size: 21px;">-- {{slogan.author}} --
        </h2>
      </div>
    </div>
    <div class="col-5 col-offset-1 relative z-1 text-center mt-8 p-8">
      <img class="relative mt-8 pt-6" src="assets/images/logo-PMRDPS.png"
        style="height: 143px; width: 346px; margin-left: -13px;margin-bottom: -3px" />
      <form [formGroup]="loginForm">
        <div class="col-8 col-offset-2">
          <div class="mt-6 field">
            <input type="text" placeholder="Tên đăng nhập" pInputText formControlName="username"
              (keydown.enter)="login()" class="w-full border-round-3xl border-500 p-3 h-4rem b-r-25">
            <div class="m-error"
              *ngIf="loginForm.controls['username'].invalid && loginForm.controls['username'].dirty">
              *Vui lòng nhập tên đăng nhập
            </div>
          </div>


          <div class="field">
            <p-password [feedback]="false" [toggleMask]="true" formControlName="password" inputId="password"
              (keydown.enter)="login()" styleClass="w-full p-password p-component p-inputwrapper p-input-icon-right"
              placeholder="Mật khẩu" inputStyleClass=" border-500 p-3 h-4rem b-r-25">
            </p-password>
            <div class="m-error" *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].dirty">
              *Vui lòng nhập mật khẩu
            </div>
          </div>
          <button [disabled]="loading" pRipple type="button" (click)="login()"
            class="w-full border-none border-round-3xl cursor-pointer
              h-4rem bg-orange-500 text-white hover:bg-orange-400 mb-3 flex align-items-center justify-content-center b-r-25 ">
            <i *ngIf="loading" class="pi pi-spin pi-spinner mr-1" style="font-size: 1rem;"></i>
            Đăng nhập
          </button>
        </div>
      </form>
    </div>
  </div>
</div>