<div class="min-h-screen h-full overflow-hidden">
  <div>
    <img class="fixed left-0 h-full w-7" src="assets/images/img-login.jpg" />
    <img class="fixed left-0 h-full w-full opacity-90" src="assets/images/bg_left.png" />
  </div>
  <div>
    <img class="fixed left-0 h-full w-full" src="assets/images/bg_right.png" />
  </div>
  <div class="grid">
    <div class="col-6 mt-8">
      <div class="mt-8 m-auto relative z-1 text-center text-white">
        <img class="h-9rem mt-8" src="assets/images/msc-logo-small.png" />
        <h1 class="text-6xl mt-5">DPS</h1>
        <h2 class="font-light mt-6">{{slogan.content}}
        </h2>
        <h2 class="font-light mt-5">-- {{slogan.author}} --
        </h2>
      </div>
    </div>
    <div class="col-5 col-offset-1 relative z-1 text-center mt-8 p-8">
      <img class="h-10rem relative mt-8 pt-6" src="assets/images/logo.png" />
      <form [formGroup]="loginForm">
        <div class="col-8 col-offset-2">
          <div class="mt-6 mb-5">
            <input type="text" placeholder="Tên đăng nhập" pInputText formControlName="username" (keydown.enter)="login()"
              class="w-full border-round-3xl border-500 p-3 h-3rem">
            <div class="text-red-500 text-left ml-2" *ngIf="loginForm.controls['username'].invalid && (loginForm.controls['username'].dirty || loginForm.controls['username'].touched)">
              *Vui lòng nhập tên đăng nhập
            </div>
          </div>
            <div class="mb-5">
              <p-password [feedback]="false" [toggleMask]="true" formControlName="password" inputId="password" (keydown.enter)="login()"
                styleClass="w-full p-password p-component p-inputwrapper p-input-icon-right" placeholder="Mật khẩu"
                inputStyleClass="border-round-3xl border-500 p-3 h-3rem">
                <input type="text" id="password">
              </p-password>
              <div class="text-red-500 text-left ml-2" *ngIf="loginForm.controls['password'].invalid && 
                (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)">
                *Vui lòng nhập mật khẩu
              </div>
            </div>
            <button pRipple type="button" (click)="login()" class="w-full border-none border-round-3xl cursor-pointer
              h-3rem bg-orange-500 text-white hover:bg-orange-400 mb-3">
              Đăng nhập
            </button>
            <!-- <div class="forgot-password">
              <a id="forget-password" class="forget-password">Quên mật khẩu?</a>
            </div> -->
        </div>
      </form>
    </div>
  </div>
</div>
