:host ::ng-deep .export-multiple-reports {
  .footer {
    .p-dropdown-label {
      padding: 0.5rem 0.75rem;
    }
  }
}
.iframe-printpreview {
  border:none;
  width:100%;
  top:0;
  left:0;
  right:0;
  bottom:0;
  position:absolute;
  height:100%;
}