body
{
    padding:0;
    margin:0;
    font-size:12px;
    font-family:Arial;
}
.page 
{
    display:block;
    overflow:hidden;
    height:100%;  
    background: url("images/login-bg.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    position:absolute;
    width:100%;
}
.main_login {
    background: url("images/login-form.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #AAAAAA;
    border-radius: 8px;
    height: 298px;
    margin: 100px auto 0;
    overflow: hidden;
    width: 486px;
}
.main_login h2 {
    background: url("images/login-header-bg.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 63px;
    margin: 5px auto auto;
    width: 473px;
    color:transparent;
}
.failureNotification {
    color: #FF0000;
    display: block;
    height: 30px;
    padding-left:20px;
    line-height:28px;
}
.login-info {
    background: url("images/login-info-bg.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 120px;
    margin-left: -1px;
    overflow: hidden;
    width: 395px;
}
.login-row {
    display: block;
    margin-top: 20px;
}
.login-row label {
    display: block;
    float: left;
    height: 30px;
    line-height: 30px;
    text-transform: uppercase;
    width: 90px;
    padding-left:20px;
}
.login-row input[type='text'],.login-row input[type='password'] {
    background: url("images/login-text-bg.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    float: left;
    height: 30px;
    padding-left: 10px;
    width: 260px;
}
.login-action {
    display: block;
    margin-left: 150px;
    margin-top: 20px;
    overflow: hidden;
    width: 250px;
}
.remember 
{
    display:block;
    float:left;    
}
.remember input {
    margin-right: 8px;
    float: left;
    margin-top: 12px;
}
.remember label {
    float: left;
    line-height:38px;
}
.login-action input[type=submit] {
    background: url("images/login-signin.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    color: #000000;
    cursor: pointer;
    float: right;
    height: 38px;
    width: 111px;
    color:transparent;
}