<div class="grid">
  <div class="col-12 p-0">
    <div class="card admin-content m-0">
      <div class="my-2 flex justify-content-between flex-wrap">
        <span class="block p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" placeholder="Tìm kiếm"
            class="inline-block lg:w-17rem sm:w-auto p-inputtext-sm" [(ngModel)]="searchData.keyword"
            (keydown.enter)="search()" />
          <button pButton pRipple icon="pi pi-search" class="p-button-primary mr-2 ml-2 p-button-sm"
            (click)="search()"></button>
          <button pButton pRipple icon="pi pi-times" class="p-button-secondary p-button-sm"
            (click)="resetSearch()"></button>
        </span>
        <div class="flex justify-content-end flex-wrap">
          <button pButton pRipple label="Thêm mới" icon="pi pi-plus" class="p-button-success p-button-sm"
            (click)="onCreateItem()"></button>
        </div>
      </div>
      <m-table [isLazyLoad]="true" [cols]="cols" [items]="bodyParts" [take]="searchData.take"
        (selectRow)="selectItem($event)" [customBodyTemplate]="customBodyTemplate"
        [customHeaderTemplate]="customHeaderTemplate" [calcHeight]="215" (onPageChange)="onPageChange($event)"
        [totalRecords]="total" [dataKey]="'id'" [loading]="loading">
      </m-table>
      <ng-template #customHeaderTemplate>
        <th *ngFor="let col of cols; let i = index" [style.minWidth]="col['width']">{{col['header']}}</th>
        <th style="min-width: 5rem" class="text-center" pFrozenColumn alignFrozen="right">Enable</th>
        <th style="min-width: 3rem" pFrozenColumn alignFrozen="right"></th>
      </ng-template>
      <ng-template #customBodyTemplate let-rowData>
        <td [style.minWidth]="col.width" *ngFor="let col of cols;">
          {{rowData[col['field']]}}
        </td>
        <td class="text-center" [style.minWidth]="'5rem'" pFrozenColumn alignFrozen="right">
          <p-inputSwitch [(ngModel)]="rowData.enable" (onChange)="toggle(rowData)"></p-inputSwitch>
        </td>
        <td [style.minWidth]="'3rem'" class="text-center" pFrozenColumn alignFrozen="right">
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-button-xs"
            (click)="onEditItem(rowData)"></button>
        </td>
      </ng-template>
    </div>

    <p-dialog [(visible)]="visibleBodyPartDialog" [style]="{width: '450px'}" [header]="bodyPartDialogHeader"
      [modal]="true" class="p-fluid">
      <ng-template pTemplate="content">
        <form [formGroup]="bodyPartForm">
          <div class="field">
            <label for="name"><span class="text-red-500">*</span>Tên vị trí lấy mẫu</label>
            <input type="text" pInputText id="name" formControlName="name" required autofocus />
            <div class="m-error" *ngIf="bodyPartForm.controls['name'].invalid && bodyPartForm.controls['name'].dirty">
              *Tên vị trí lấy mẫu không được để trống
            </div>
          </div>
          <div class="field">
            <label for="description">Mô tả</label>
            <textarea id="description" pInputText formControlName="description" rows="3"></textarea>
          </div>
        </form>
      </ng-template>

      <ng-template pTemplate="footer">
        <button pButton pRipple label="Đóng" icon="pi pi-times" class="p-button-text text-red-600"
          (click)="visibleBodyPartDialog=false"></button>
        <button pButton pRipple label="Lưu" icon="pi pi-check" class="p-button-text" (click)="saveItem()"></button>
      </ng-template>
    </p-dialog>
  </div>
</div>