<div>
    <img class="img-number4" src="assets/images/4-7.png" />
</div>

<div>
    <img class="img-number3" src="assets/images/3-2.png" />
</div>

<div>
    <img class="img-403" src="assets/images/403-3.png" />
</div>

<div>
    <img class="img-doctor" src="assets/images/doctor-5.png" />
</div>

 <h1 style="margin-top: -38rem; margin-left: 513px; font-size: 38px; font-weight: 700;  ;color: #005da6;">Không cho phép truy cập!</h1>
 <!-- <h1 style="margin-left: 902px; margin-top: -4rem; font-weight: 700;color: #c94c24;">!!!</h1> -->
 <a routerLink="/" class="btn" pRipple type="button"> <i class="pi pi-arrow-left" style="font-size: 15px"></i> Trang chủ</a>
