<div class="h-full w-full">
  <as-split class="h-full bg-blue-50" direction="vertical" (dragEnd)="onResizeEnd($event)">
    <as-split-area [size]="panelSizes[0]" [minSize]="5">
      <div class="grid w-full m-0">
        <div [ngClass]="{'col-6' : isSmallScreen, 'col-2': !isSmallScreen, 'pb-1': true}">
          <span class="block sm:text-lg xl:text-xl font-bold text-primary-color pt-2">
            <ng-container *ngIf="selectedLayout==LAYOUT.FULL">Danh sách ca khám:</ng-container> {{totalCaseStudies}} kết quả
          </span>
        </div>
        <div [ngClass]="{'col-6' : isSmallScreen, 'col-10': !isSmallScreen, 'pb-1': true}">
          <div class="flex justify-content-end">
            <input pInputText type="text" placeholder="Tên bệnh nhân" title="Tên bệnh nhân"
              class="text-base w-14rem p-inputtext-sm mr-2 border-round-3xl pl-4" [(ngModel)]="searchData.patientName" (keydown.enter)="onSearch(searchData)" />
            <ng-container *ngIf="!isSmallScreen && selectedLayout==LAYOUT.FULL">
              <input pInputText type="text" placeholder="Mã bệnh nhân" title="Mã bệnh nhân"
                class="text-base w-14rem sm:hidden xl:inline-block p-inputtext-sm mr-2 border-round-3xl pl-4" [(ngModel)]="searchData.patientCode" (keydown.enter)="onSearch(searchData)" />
              <input pInputText type="text" placeholder="Mã bệnh phẩm" title="Mã bệnh phẩm"
                class="text-base w-14rem sm:hidden xl:inline-block p-inputtext-sm mr-2 border-round-3xl pl-4" [(ngModel)]="searchData.specimensCode" (keydown.enter)="onSearch(searchData)" />
              <p-dropdown [options]="REQUEST_TYPES" [(ngModel)]="searchData.requestType" 
                placeholder="Loại yêu cầu" optionLabel="label" (ngModelChange)="onSearch(searchData)"
                optionValue="value" [showClear]="true" styleClass="mr-2 border-round-3xl sm:hidden xl:flex w-14rem pl-3"></p-dropdown>
            </ng-container>
            <p-dropdown [options]="REPORT_STATES" [(ngModel)]="searchData.status" 
              placeholder="Trạng thái" optionLabel="label" (ngModelChange)="onSearch(searchData)"
              optionValue="value" [showClear]="true" styleClass="mr-2 border-round-3xl w-14rem pl-3"></p-dropdown>
            
            <button pButton pRipple type="button" icon="pi pi-search-plus" class="flex-none text-xl p-button-info font-bold p-button-rounded"
              (click)="isVisibleSearchCaseStudy=true" title="Tìm kiếm nâng cao"></button>
            <button pButton pRipple type="button" icon="pi pi-delete-left" class="flex-none ml-2 text-2xl p-button-danger font-bold p-button-rounded"
              (click)="onSearch(INIT_SEARCH_CASE_STUDY)" title="Xóa lọc"></button>
            <button pButton pRipple type="button" icon="pi pi-download" title="Xuất báo cáo" class="flex-none text-xl ml-2 font-bold p-button-rounded p-buton-primary"></button>
            <button pButton pRipple label="Thêm ca bệnh" icon="pi pi-plus" class="flex-none xl:ml-4 sm:ml-2 p-button p-button-rounded"
              (click)="onCreateCaseStudy()"></button>
          </div>
        </div>
        <div class="col-12 py-0 px-3 w-full flex-auto mt-1">
          <case-study-table #caseStudyTable [rows]="totalCaseStudies" [loading]="loading" class="w-full" [tableHeight]="tableHeight"
            (onLazyLoad)="onLazyLoad($event)" (onSelectCaseStudy)="onSelectCaseStudy($event)" [caseStudies]="caseStudies" 
            (onAction)="onCaseStudyAction($event)"></case-study-table>
        </div>
      </div>
    </as-split-area>
    <as-split-area [size]="panelSizes[1]" [minSize]="5">
      <div class="grid w-full m-0 flex-none">
        <div class="col-12 py-3 flex align-items-center">
          <span class="sm:text-lg xl:text-xl font-bold text-primary-color">
            Ca khám liên quan của bệnh nhân {{selectedCaseStudy.patientsName}}
          </span>
          <i class="fa-solid fa-expand sm:text-lg xl:text-2xl block flex-none ml-auto cursor-pointer" (click)="toggleRelated()" ></i>
        </div>
        <div class="col-12 py-0 px-3 w-full flex-auto mt-0" [style.height]="tableHeight">
          <case-study-table *ngIf="isShowRelated" [rows]="totalRelated" [loading]="loadingRelated" class="w-full" [isRelatedList]="true" [tableHeight]="relatedTableHeight" 
            [caseStudies]="relatedCaseStudies" (onAction)="onCaseStudyAction($event)"></case-study-table>
        </div>
      </div>
    </as-split-area>
    <as-split-area [size]="panelSizes[2]" [minSize]="5">
      <div class="grid w-full m-0 flex-none">
        <report-panel class="w-full" [style.height]="reportPanelHeight+'px'" [caseStudy]="selectedCaseStudy"></report-panel>
      </div>
    </as-split-area>
  </as-split>
</div>
<case-study-info [(visible)]="isVisibleCaseStudyInfo" [header]="caseStudyInfoHeader" [patientId]="selectedPatientId.toString()"
  [caseStudyId]="updatedCaseStudyId" (onSaveCaseStudy)="onSearch(searchData)"></case-study-info>
<search-case-study [(visible)]="isVisibleSearchCaseStudy" (onSearch)="onSearch($event)"></search-case-study>
<patient-info [(visible)]="isVisiblePatientInfo" [header]="'Sửa thông tin bệnh nhân'" [patientId]="selectedPatientId"></patient-info>
<upload-slide [(visible)]="isVisibleUploadSlide" [header]="uploadSlideHeader" [caseStudyId]="uploadedCaseStudyId"></upload-slide>
<confirm-dialog [(visible)]="isVisibleDeleteCase" [confirmText]="textConfirmDeleteCase" (onConfirm)="deleteCaseStudy()"></confirm-dialog>