:host ::ng-deep {
  .state-color-1 {
    color: var(--orange-500);
  }
  .state-color-2 {
    color: var(--green-600);
  }
  .state-color-3 {
    color: var(--green-800);
  }
  .state-color-4 {
    color: var(--green-900);
  }
  .search-table tbody {
    top: 80px !important;
  }
  .not-search-table tbody {
    top: 45px !important;
  }
}

@media screen and (max-width: 1600px) {
  :host ::ng-deep {
    .search-table tbody {
      top: 72px !important;
    }
    .not-search-table tbody {
      top: 37px !important;
    }
  }
}

@media screen and (max-width: 1200px) {
  :host ::ng-deep {
    .search-table tbody {
      top: 66px !important;
    }
    .not-search-table tbody {
      top: 31px !important;
    }
  }
}