<p-table #caseStudyTable [columns]="cols" [value]="caseStudies" [scrollable]="true" [scrollHeight]="tableHeight+'px'" [loading]="loading" [virtualScrollItemSize]="40"
  [lazy]="true" (onLazyLoad)="onLazyLoad.emit($event)" [virtualScroll]="true" responsiveLayout="scroll" [rowHover]="true"
  selectionMode="single" (onRowSelect)="onRowSelect($event)"
  [contextMenu]="menu" [(contextMenuSelection)]="selectedCaseStudy" dataKey="caseStudyId" [resizableColumns]="true" columnResizeMode="expand"
  >
  <ng-template pTemplate="header">
    <tr class="text-blue-900">
      <th class="flex flex-none bg-white" [style]="{'width':'50px'}">STT</th>
      <th class="flex flex-none bg-white" [style]="{'width':'8rem'}">Trạng thái</th>
      <th *ngFor="let col of cols" [style]="{'width':col.width}" pResizableColumn 
        class="bg-white flex align-items-center overflow-hidden text-overflow-ellipsis flex-none">
        {{ col.header }}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData>
    <tr style="height:40px" [pContextMenuRow]="rowData" [pSelectableRow]="rowData"
      (dblclick)="openViewer(rowData)"
      [ngClass]="{'bg-green-100': rowData['slideCount']>0 && rowData['idx']!=selectedCaseStudy['idx'], 
        'surface-200':rowData['idx']==selectedCaseStudy['idx'],
        'hover:surface-200 cursor-pointer':true}">
      <td class="flex align-items-center justify-content-center flex-none" [style]="{'width':'50px'}">{{ rowData['idx'] }}</td>
      <td class="flex align-items-center flex-none" [style]="{'width':'8rem'}">
        <span class="flex align-items-center state-color-{{rowData['state']}}">
          <img class="mr-1" src="assets/images/state-{{rowData['state']}}.png" alt="">
          {{ rowData['stateLabel'] }}
        </span>
      </td>
      <td *ngFor="let col of cols" [style]="{'width':col.width}" class="flex align-items-center overflow-hidden white-space-nowrap text-overflow-ellipsis flex-none"
        [title]="rowData[col.field]">
        {{ rowData[col.field] }}
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="loadingbody" let-columns="columns">
    <tr style="height:40px">
        <td [attr.colspan]="cols.length+2" class="text-center">
          <p-skeleton [ngStyle]="{'width': '100%'}"></p-skeleton>
        </td>
    </tr>
</ng-template>
</p-table>
<p-contextMenu #menu styleClass="w-16rem" [model]="actions"></p-contextMenu>
